*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #020295;
}

.chargement{
    width: 400px;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    color: white;
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chargement::after{
    content: "";
    position: absolute;
    width: 30%;
    height: 100%;
    background-color: #020295;
    transform: translateX(-500px);
    animation: animate 1.5s .5s linear infinite;
}

@keyframes animate{
    0%{
        transform: translateX(-500px);
    }
    100%{
        transform: translateX(500px);
    }
}

.menu2{
    position: absolute;
    top: 0;
    width: 100%;
    padding: 20px 250px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 20px 0.5px #02025a, inset 0 5px 20px 0.5px #02025a;
    align-items: center;
}

.deconnexion{
    font-size: 28px;
    color: white;
    display: flex;
    align-items: center;
}

.bar{
    font-size: 40px;
    color: white;
    font-weight: 700;
    padding: 20px;
    border-radius: 50%;
    box-shadow: 0 0 20px 0.5px #02025a;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu{
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    justify-content: space-between;
    margin-top: 120px;
}

.cadre{
    font-size: 30px;
    color: white;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    width: 300px;
    height: 200px;
    margin: 15px;
    box-shadow: 0 0 20px 0.5px #02025a;
    background-color: transparent;
    border: none;
}

a{
    color: white;
    text-decoration: none;
}

button{
    cursor: pointer;
}


.fondu{
    opacity: 0;
    transition: opacity .1s ease-out;
    pointer-events: none;
}


#coupure{
    display: flex;
    justify-content: center;
    align-items: center;
    animation: animate2 .5s;
}

@keyframes animate2{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}