*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #020295;
}

.chargement{
    width: 400px;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    color: white;
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chargement::after{
    content: "";
    position: absolute;
    width: 30%;
    height: 100%;
    background-color: #020295;
    transform: translateX(-500px);
    animation: animate 1.5s .5s linear infinite;
}

@keyframes animate{
    0%{
        transform: translateX(-500px);
    }
    100%{
        transform: translateX(500px);
    }
}

form{
    padding: 20px 50px;
    box-shadow: 0 0 20px 0.5px #02025a, inset 0 5px 20px 0.5px #02025a;
    align-items: center;
    width: 50%;
}

h2{
    font-size: 30px;
    font-weight: 600;
    margin: 30px 0 60px;
    text-align: center;
    color: white;
    letter-spacing: 1px;
}
label{
    font-size: 18px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 20px 0;
    color: white;
    justify-content: space-between;
}


label input{
    height: 35px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 18px;
    font-weight: 600;
    color: white;
    box-shadow: inset 0 0 20px 0.5px #02025a;
    padding: 10px 5px;
    width: 60%;
    
}

select{
    height: 35px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 18px;
    font-weight: 600;
    color: white;
    box-shadow: inset 0 0 20px 0.5px #02025a;
    width: 60%;
    /* padding: 10px 5px; */
}


#mod5{
    padding: 0;
    margin: 0 0 0 89px;
    width: 20px;
    height: 20px;
}

#mod4{
    padding: 0;
    margin: 0 0 0 76px;
    width: 20px;
    height: 20px;
}

#mod3{
    padding: 0;
    margin: 0 0 0 124px;
    width: 20px;
    height: 20px;
}

#mod2{
    padding: 0;
    margin: 0 0 0 97px;
    width: 20px;
    height: 20px;
}

#mod{
    padding: 0;
    margin: 0 0 0 40px;
    width: 20px;
    height: 20px;
}


label[for="mod"]{
    margin: 0 0 0 50px;
}
label[for="mod2"]{
    margin: 0 0 0 50px;
}label[for="mod3"]{
    margin: 0 0 0 50px;
}label[for="mod4"]{
    margin: 0 0 0 50px;
}label[for="mod5"]{
    margin: 0 0 0 50px;
}

h3{
    color: white;
    margin: 50px 0 20px 0;
}



.boutton{
    display: flex;
    justify-content: space-around;
    margin: 50px auto 20px;
}

button{
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 600;
    color: white;
    border: none;
    cursor: pointer;
}

button:focus{
    box-shadow: inset 0 0 20px 0.5px #02025a;
}